.error-msg {
    color: red;
    padding-left: 10px;
}

div.am-tab-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
}

.chat-container .chat-right {
    display: flex;
    flex-direction: row-reverse;

}

.chat-container .am-list-item.chat-right  .am-list-content{
    text-align: right;
    
}